body{
	margin-top: 0px;
}

#background { 
	background-repeat: no-repeat; 
	z-index:1;
	width:1254px; 
	height:675px;
	white-space: nowrap;
}

#scroller {
	position:absolute; 
	width:100%; 
	height:100%; 
	top:0; 
	left:0; 
	z-index:2;
}

#content {
	padding:10px 10px 10px 70px;
}

#main{
	width: 100%;
	height: 100%;
	margin: 0;
	white-space: nowrap;
}

#left{
	width: 550px;
	top: 20px;	
	float: left;
	white-space: nowrap;
	overflow: auto;
	clear: both;
}

#right{
	top: 100%;
	width: 400px;
   	height: 550px;
	margin-left: 650px;
	margin-top: 0px;
	white-space: nowrap;
	overflow:auto;

}

#head{
	top: 50%;
	width: 400px;
   	height: 28px;
	overflow:hidden;
	margin-left: 650px;
	margin-top: 0px;
	padding-top: 25px;
	white-space: nowrap;
}

#head p{
	margin-bottom: 0px;
	margin-top: 0px;
}

#right > #feed{
	overflow: auto;
}

#username{
        padding-top:8px;
        margin: 0px;
	font-size: 150%;
	color: DarkSlateGray;
}

#usrimg{
	float:left;
	margin: 5px;
	margin-top: 0px;
	margin-left: 0px;
	width: 180px;
	border: 4px solid #477064
}

#head { 
	font-size: 150%;
	margin-bottom: 0px;
	color: DarkGreen;
}

#helpful {
	margin-bottom: 0px;
	padding-top: 35px;
}

.form-title{
	clear: both;
	font-family: Helvetica, sans-serif;
	padding-top:0px;
	margin: 0px;
	margin-top: 5px;
	color: DimGray;
}

.books > div {
	position: relative;
	width: 540px;
	height: 80px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.bookimg {
	width: 40px;
	border: 2px solid #ffffff;
} 



#feed p{
	text-align: left;
	margin: 0px;
	margin-bottom: 5px;

}
#feed p:first-child {
	text-align: left;
	padding-top: 10px;

}
#feed p:nth-child(2) {
	text-align: center;
}

#feed a {
	text-size: 70%;
	text-decoration: none;
	color: black;
}

#feed a:hover {
	opacity: 0.5;	
	text-size: 70%;
}

#feed img{
	border: 4px solid #556B25;
	width: 100px;
	height: auto;

}

.addbook {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#599426;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}
.addbook:hover {
	background-color:#deebd3;
}
.addbook:active {
	position:relative;
	top:1px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
 	-webkit-box-shadow: inset  0 0 6px rgba(0,0,0,0.9);
}
